.container {
    width: 80%;
    height: 150px;
    margin: 10px 150px 10px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    /* text-align: center; */
  }


.container:hover .avatarflip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatarflip img:first-child {
  opacity: 0;
}
.container:hover .avatarflip img:last-child {
  opacity: 1;
}
.avatarflip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 10px -10px -100px -130px;
  /* top: 140px;
  left: 50px; */
  transition: all 2.4s ease-in-out;
  -webkit-transition: all 2.4s ease-in-out;
  -moz-transition: all 2.4s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
  background-color: #fff;
}
.avatarflip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 2.4s ease-in-out;
  -webkit-transition: all 2.4s ease-in-out;
  -moz-transition: all 2.4s ease-in-out;
}
.avatarflip img:first-child {
  z-index: 1;
}
.avatarflip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;  
  color: #333;
  margin-left: 50px;
}

.subTitle {
  font-size: 13px;
  color: rgb(161, 2, 2);
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #666;
  margin-left: 50px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6.0em;
  /* line-height: 1.em; */
}

.dateHeader {
  display: block;
  font-size: 10px;
  float: right;
  color: #666;
  margin-top: 10px;
}

.dateFooter {
  display: none;
  font-size: 10px;
  float: right;
  color: #666;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .container {
      width: 55%;
  }
  .text {
    display: none;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;  
    color: #333;
    margin-left: 50px;
  }
  .container {
    margin: 10px 120px 10px;
  }

  .dateHeader {
    display: none;
  }
  
  .dateFooter {
    display: block;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .container {
      width: 60%;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;  
    color: #333;
    margin-left: 50px;
  }
  .text {
    display: none;
  }
  .period {
    font-size: 10px;
    float: right;
    color: #666;
    margin-top: 10px;
  }
  .dateHeader {
    display: none;
  }
  .dateFooter {
    display: block;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .container {
      width: 70%;
  }
  .text {
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
}