@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

.container {
  width: 400px;
  margin: 120px auto 10px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.container:hover .avatarflip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatarflip img:first-child {
  opacity: 0;
}
.container:hover .avatarflip img:last-child {
  opacity: 1;
}
.avatarflip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatarflip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatarflip img:first-child {
  z-index: 1;
}
.avatarflip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.subTitle {
  font-size: 13px;
  color: rgb(161, 2, 2);
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

@media (max-width: 500px) {
  .container {
      width: 300px;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;  
    color: #333;
  }
}