.experience {
  padding: 20px;
  margin-left: 15%;
  border-bottom: 1px solid #eee;
  max-width: 70%;
  justify-content: center;
}

.experience:last-child {
  border-bottom: none;
}

.job-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #007bff;
}

.company-card{
  display        : flex;
  flex-direction : row;
}

.company-card-description{
  display: inline-block;
  align-self: flex-end;
  margin-left: 10px;
}

.company-card-logo{
}

.company-card-logo-icon{
  height: 64px;
  width: 64px;
  justify-content: center;
  vertical-align: middle;
}


.company {
  color: #555;
  font-style: italic;
}

.date {
  font-size: 0.9rem;
  color: #999;
}

.place {
  font-size: 0.9rem;
  color: #999;
}

.description {
  margin-top: 5px;
  color: #444;
  line-height: 1.4;
}

details {
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}

summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

summary:hover {
  color: #007bff;
}

details[open] summary {
  color: #333;
}

.projects {
  margin-left: 25px;
  margin-bottom: 10px;
}
