<div class="experience">
    <div class="company-card">
      <div class="company-card-logo">
          <img src="{{experience().icon}}" alt="Article image" class="company-card-logo-icon" />
      </div>
      <div class="company-card-description">
          <div class="job-title">{{experience().title}}</div>
          <div class="company">{{experience().company}}</div>
          <div class="date">{{this.firstDate | date:"MMM, y"}} – {{this.lastDate | date:"MMM, y"}} • {{displayTime}}</div>
          <div class="place">{{experience().city}}, {{experience().country}}</div>
      </div>
    </div>

    <div class="description">
      {{experience().description}}
    </div>
      @for (project of experience().projects; track $index) {
        <details open>
          <summary>Projeto: {{project.name}}</summary>
          <div class="projects">
            <app-experience-project [project]="project" />
          </div>
        </details>
      }
  </div>