<body>
    <div class="profile-card">
        <img src="profile.jpg" alt="Foto de Perfil" class="portrait">
        <h1>{{name}}</h1>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <div class="socials">
            <a class="link-icon" href="https://www.linkedin.com/in/diogo-alexandro-pereira/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a class="link-icon" href="https://github.com/diogoalexp" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a class="link-icon" href="https://www.scrumalliance.org/members/1018029" target="_blank">
                <i class="fa-solid fa-certificate"></i> Scrum Alliance
            </a>
        </div>
    </div>
</body>