<div class="tech-summary-card">
    <h2>Technical Experience Summary</h2>
    <ul>
      <li>{{YearsOfExperience(experienceBackend)}}+ {{'experience.backend' | translate}} (C#, .NET, Azure)</li>
      <li>{{YearsOfExperience(experienceWeb)}}+ {{'experience.web' | translate}} (HTML, CSS, JavaScript)</li>
      <li>{{YearsOfExperience(experienceFrontend)}}+ {{'experience.frontend' | translate}} (React, Angular)</li>
      <li>{{'experience.expertise' | translate}} {{skilledIn}}</li>
      <li>{{'experience.confortable' | translate}} {{confortableIn}}</li>
      <li>{{'experience.fluent' | translate}}</li>
    </ul>
  </div>