<div class="tech-summary-card">
    <h2>Technical Experience Summary</h2>
    <ul>
      <li>{{YearsOfExperience(experienceBackend)}}+ years in backend (C#, .NET, Java, Node)</li>
      <li>{{YearsOfExperience(experienceWeb)}}+ years in web development (HTML, CSS, JavaScript)</li>
      <li>{{YearsOfExperience(experienceFrontend)}}+ years with React, Angular & modern frontend frameworks</li>
      <li>Skilled in {{skilledIn}}</li>
      <li>Comfortable with {{confortableIn}}</li>
    </ul>
  </div>